<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Surf Log</title>
<script src='/bower_components/jquery/dist/jquery.min.js'></script>
<link rel='stylesheet' href='/bower_components/fullcalendar/dist/fullcalendar.css' />
 <!--  // <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <!-- Chart.js -->
  <script src="/js/Chart.js"></script>

  <link rel="stylesheet" href="css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=Indie+Flower' rel='stylesheet' type='text/css'>
    
<!--************** FULL CALENDAR ************* ****************************************** -->
<script src='/bower_components/moment/min/moment.min.js'></script>

<script src='/bower_components/fullcalendar/dist/fullcalendar.js'></script>

<!-- JAVASCRIPT FILE FOR CALENDAR AND CHART LOGIC -->
  <script type="text/javascript" src="/js/calender.js"></script>

<!-- STYLE -->
<link rel="stylesheet" href="/show.css">

</head>
<body class="container">
      <nav class="navbar navbar-default navbar-static-top">
          <div class="container">
              <!-- Brand and toggle get grouped for better mobile display -->
              <div class="navbar-header page-scroll">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                      <span class="sr-only">Toggle navigation</span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                      <span class="icon-bar"></span>
                  </button>
                      <% if(currentUser){ %>
                      <a class="navbar-brand" href="/users/<%=currentUser._id%>">SURF LOG</a>
                      <%}else{ %>
                        <a class="navbar-brand" href="/">SURF LOG</a>
                      <%}%>
              </div>

              <!-- Collect the nav links, forms, and other content for toggling -->
              <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                      <li class="page-scroll">
                      <!-- Login Form -->
                        <% if(!currentUser) { %>
                        <form action="/login" method="POST" class="form-inline">
                          <div class="form-group">
                            <label class="sr-only" for="exampleInputEmail3">Name</label>
                            <input type="text" class="form-control classBtn" name="user[name]" id="exampleInputEmail3" placeholder="First Name" required>
                          </div>
                          <div class="form-group">
                            <label class="sr-only" for="exampleInputPassword3">Password</label>
                            <input type="password" class="form-control classBtn" name="user[password]" id="exampleInputPassword3" placeholder="Password" required>
                          </div>
                          <button type="submit" class="btn btn-default loginBtn">Login</button>
                        </form>
                        <% } else { %>
                          <a href="/logout"><button type="submit" class="btn btn-default pull-right loginBtn classBtn logout">Logout</button></a>
                        <% } %>
                        <!-- End login Form -->
                      </li>
                  </ul>
              </div>
              <!-- /.navbar-collapse -->
          </div>
          <!-- /.container-fluid -->
      </nav>

  <div class="container">
  <!-- Trigger the modal with a button -->
<!--   <button type="button" class="btn btn-info btn-lg" data-toggle="modal" data-target="#myModal">Open Modal</button> -->

  <!-- Modal -->
  <div class="modal fade" id="myModal" role="dialog">
    <div class="modal-dialog">
    
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal">&times;</button>
          <h4 class="modal-title"></h4>
        </div>
        <div class="modal-body"></div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        </div>
      </div>
    </div>
  </div>
  
</div>

<div class="row top">
    <div class="col-xs-8 text-center">
    <div id="calendar" width="100" height="100">
        
    <h3>Current Forecast</h3>
      <form action="" method="GET">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">GO!</span>
          <select id="select" class="form-control" name="log[location]">
              <option value="South Ocean Beach">South Ocean Beach</option>
              <option value="North Ocean Beach">North Ocean Beach</option>
              <option value="Kellys Cove">Kellys Cove</option>
              <option value="Linda Mar">Linda Mar</option>
              <option value="Montara">Montara</option>
              <option value="Princeton Jetty">Princeton Jetty</option>
          </select>
        </div>
     </form> 
    <div class="forecast"></div>

    </div>

    </div>
    <div class="col-xs-1 side">
        <a href="/logs/new"><span class="glyphicon glyphicon-plus btn-success btn-sm"></span></a>
    </div>

    <div class="col-xs-3">
        <h5>Days Surfed/Month</h5>
    <canvas id="myChart" width="100" height="100"></canvas>

    <div>
        
    <h5>Hours per week</h5>
    <canvas id="surfHours" width="100" height="100"></canvas>
        
    </div>
    <div>
    <h5>Average Wave Height</h5>
    <canvas id="waveHeight" width="100" height="100"></canvas> 
    </div>

    <div>    
    <h5>Locations</h5>
    <canvas id="locations" width="100" height="100"></canvas>    
    </div>
    </div>
        

    </div>
</div>


<br>

<!-- Hidden form to pass values into calendar.  Will
grab values w/ jquery. -->
<form action="">
     <% logs.forEach(function(log){ %>
     <input type="hidden" name="log[date]" value="<%=log.date%>" class="date">
    <input type="hidden" name="log[time]" value="<%=log.time%>" class="time"> 
    <input type="hidden" name="log[location]" value="<%=log.location%>" class="location">
     <input type="hidden" name="log[duration]" value="<%=log.duration%>" class="duration">
     <input type="hidden" name="log[size_ft]" value="<%=log.size_ft%>" class="size_ft">
     <input type="hidden" name="log[id]" value="<%=log._id%>" class="id">
    <%})%>  
</form>
<% include ../partials/footer %>