<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Surf Log</title>


<script src='/bower_components/jquery/dist/jquery.min.js'></script>
<link rel='stylesheet' href='/bower_components/fullcalendar/dist/fullcalendar.css' />

 <!--  // <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.4/jquery.min.js"></script> -->

  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  
  <!-- Optional theme -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap-theme.min.css">
  
  <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>

    <!-- Chart.js -->
  <script src="/bower_components/Chart.js/Chart.js"></script>

  <link rel="stylesheet" href="css/bootstrap.min.css">
    

<!--************** FULL CALENDAR ************* ****************************************** -->


<script src='/bower_components/moment/min/moment.min.js'></script>

<script src='/bower_components/fullcalendar/dist/fullcalendar.js'></script>

<!-- JAVASCRIPT FILE FOR CALENDAR AND CHART LOGIC -->
  <script type="text/javascript" src="/js/calender.js"></script>

<!-- **********************************************-->

<link rel="stylesheet" href="/show.css">

</head>
<body class="container">
<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">SURF LOG</a>
    </div>
  <% if(currentUser) {%>
    <div class="navbar-header">
      <a class="navbar-brand" href="/">
  Welcome, <%= currentUser.name%>
    </div>
<% }%></a>
    <div>
      <ul class="nav navbar-nav navbar-right">
    <% if(!currentUser) {%>
        <li><a href="/signup"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="/login"><span class="glyphicon glyphicon-log-in"></span> Login</a></li> 
    <% } else { %>
         <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      <% } %>
      </ul>
    </div>
  </div>
</nav>

<div class="row top">
    <div class="col-xs-2 side">
        <a href="/apiCallTest"><span class="glyphicon glyphicon-asterisk btn-info btn-sm"></span></a>

    </div>
    <div class="col-xs-8 text-center calendar">
    <div id="calendar"></div>

    </div>
    <div class="col-xs-2 side">
        <a href="/logs/new"><span class="glyphicon glyphicon-plus btn-success btn-sm"></span></a>
    </div>
</div>

<div class="row bottom">
<br>
    <div class="col-xs-6 text-center" id="
    report">
    <h3>Current Forecast</h3>
      <form action="" method="GET">
        <div class="input-group">
          <span class="input-group-addon" id="basic-addon1">GO!</span>
          <select id="select" class="form-control" name="log[location]">
              <option value="South Ocean Beach">South Ocean Beach</option>
              <option value="North Ocean Beach">North Ocean Beach</option>
              <option value="Kellys Cove">Kellys Cove</option>
              <option value="Linda Mar">Linda Mar</option>
              <option value="Montara">Montara</option>
              <option value="Princeton Jetty">Princeton Jetty</option>
          </select>
        </div>
     </form> 
    <div class="forecast"></div>
    </div>

    <!-- SHOW CURRENT REPORT -->
    <div class="col-xs-6 text-center" id="stats">
    <br>
    <h5>Days Surfed/Month</h5>
    <canvas id="myChart" width="100" height="100"></canvas>

    <div>
        
    <h5>Hours per week</h5>
    <canvas id="surfHours" width="100" height="100"></canvas>
        
    </div>
    </div>
</div>

<!-- Hidden form to pass values into calendar.  Will
grab values w/ jquery. -->
<form action="">
     <% logs.forEach(function(log){ %>
     <input type="hidden" name="log[date]" value="<%=log.date%>" class="date">
    <input type="hidden" name="log[time]" value="<%=log.time%>" class="time"> 
    <input type="hidden" name="log[location]" value="<%=log.location%>" class="location">
     <input type="hidden" name="log[duration]" value="<%=log.duration%>" class="duration">
    <%})%>  
</form>



<% include ../partials/footer %>